@import './utils';
@import './components';

@import './users';
@import './posts';

body {
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
}

// div {
//     border: 1px solid black;
// }