.post-block {
    // background-color: $post-color;
    // margin: 10px;
    // border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    transition: background-color 0.3s;
    max-width: 800px;
    cursor: pointer;

    .post-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100px;
        margin-right: 10px;

        p {
            margin: 0;
            font-size: 0.8rem;
            color: $secondary-text-color;
        }

        .profile-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        flex: 1;
    }
    
    .post-body {
        flex: 4;
        color: $primary-text-color;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: $secondary-text-color;
            font-size: 0.8rem;
        }
    
        p {
            margin: 0;
        }
    }

    &:hover {
        background-color: lighten($post-color, 10%);
    }
    
}

.posts-list {
    @media screen and (max-width: 550px) {
        margin-left: 0;
    }

    margin-left: min(25vw, 250px);
    margin-top: 50px;

    hr {
        margin: 0;
        background-color: gray;
        max-width: 800px;
    }

    .no-posts {
        color: $secondary-text-color;
        margin-left: 20px;
    }
}

.replies-list {
    margin-left: 70px;
}