.post-block {
    background-color: $post-color;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;

    .post-profile {
        flex: 1;
    }
    
    .post-body {
        margin-bottom: 10px;
        flex: 4;
        color: $primary-text-color;
        
        footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    
        p {
            margin: 0;
        }
    }
}

.posts-list {
    @media screen and (max-width: 550px) {
        margin-left: 0;
    }

    max-width: 800px;
    margin-left: min(25vw, 250px);
}